extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ KHOA
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
									button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addFacultyModal')
										| Thêm mới
									// Modal
									#addFacultyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addFacultyModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Thêm mới
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/faculty/add", method="post")
													.modal-body
														.form-group
															label Tên khoa
															input.form-control(type='text' placeholder='Tên khoa' name='name')
														.form-group
															label Năm thành lập
															input.form-control(type='text' placeholder='Năm thành lập' name='eyear')
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit') Thêm mới
							.row
								.col-12
									table#tab-faculty.table.table-bordered.table-striped
										thead
											tr
												th Mã số Khoa
												th Tên Khoa
												th Năm thành lập
												th Thao tác
										tbody
											each faculty in facultyList 
												tr 
													td=faculty.F_ID
													td=faculty.F_NAME
													td=faculty.F_EYEAR
													td.text-center
														btn.btn-edit.btn.btn-primary.btn-xs(style="margin-right: 5px;", data-id=faculty.F_ID, data-name=faculty.F_NAME, data-eyear=faculty.F_EYEAR) 
															i.fas.fa-edit
														btn.btn-delete.btn.btn-danger.btn-xs(data-id=faculty.F_ID)
															i.fas.fa-trash 

									#editFacultyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editFacultyModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Chỉnh sửa
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/faculty/edit", method="post")
													.modal-body
														input(type="hidden", name="id")
														.form-group
															label Tên khoa
															input.form-control(type='text', placeholder='Tên khoa', name='name')
														.form-group
															label Năm thành lập
															input.form-control(type='text', placeholder='Năm thành lập', name='eyear')
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit') Cập nhật


block script 
	script(src="/js/faculty/index.js") 
