extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ SINH VIÊN: CHỈNH SỬA
	section.content 
		.content-fluid
			.row 
				.col-md-12
					.card.card-primary
						form(action="/students/edit", method="post")
							.card-body
								.row
									.col-md-6
										.form-group
											label Mã số sinh viên
											input.form-control(type='text', placeholder='Mã số sinh viên', name='id', value=student.S_ID, disabled)
								.row
									.col-md-6
										.form-group
											label Họ và tên lót
											input.form-control(type='text' placeholder='Họ và tên lót' name='fname' value=student.S_FNAME)
									.col-md-6
										.form-group
											label Tên
											input.form-control(type='text' placeholder='Tên' name='lname' value=student.S_LNAME)

								.row
									.col-md-6
										.form-group
											label Năm sinh
											input.form-control(type='number' placeholder='Năm sinh' name='byear' value=student.S_BYEAR)
									.col-md-6 
										.form-group 
											.row.mt-5
												.col-md-2
													label Giới tính:
												.col-md-3
													.form-check 
														input.form-check-input(type="radio", name="gender", value='1', checked=(student.S_GENDER == 1))
														label Nam
												.col-md-5
													.form-check 
														input.form-check-input(type="radio", name="gender", value='0', checked=(student.S_GENDER == 0))
														label Nữ
								.row
									.col-md-6
										.form-group
											label Quê quán
											input.form-control(type='text' placeholder='Quê quán' name='hometown', value=student.S_HOMETOWN)
									.col-md-6 
										.form-group 
											label Khoa 
											select#sel-faculty.form-control.select2(name="faculty_id", style="width: 100%;")
												each faculty in facultyList 
													option(value=faculty.F_ID, selected=(student.F_ID == faculty.F_ID))=faculty.F_NAME 
								
							// /.card-body
							.card-footer.text-center
								button.btn.btn-primary(type='submit') Chỉnh sửa

block style 
	link(rel="stylesheet", href="/plugins/select2/css/select2.min.css")
	link(rel="stylesheet", href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")

block script 
	script(src="/plugins/select2/js/select2.full.min.js")
	script(src="/js/students/add.js") 
