extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ SINH VIÊN
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-students.table.table-bordered.table-striped
								thead
									tr
										th MSSV
										th Họ và tên lót
										th Tên
										th Khoa
										th Năm sinh
										th Giới tính 
										th Quê quán 
										th Thao tác
								tbody
									each student in studentList 
										tr
											td=student.S_ID 
											td=student.S_FNAME 
											td=student.S_LNAME 
											td=student.F_NAME 
											td.text-center=student.S_BYEAR 
											td.text-center=student.S_GENDER ? "Nam" : "Nữ"
											td.text-center=student.S_HOMETOWN 
											td.text-center
												a.btn.btn-primary.btn-xs(style="margin-right: 5px;", href="/students/edit/" + student.S_ID) 
													i.fas.fa-edit
												a.btn.btn-danger.btn-xs(href="/students/delete/" + student.S_ID)
													i.fas.fa-trash 

block script 
	script(src="/js/students/index.js") 