extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ KHÁCH HÀNG
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-customer.table.table-bordered.table-striped
								thead
									tr
										th CMND
										th Mã số khách hàng
										th Thao tác
								tbody
									each customer in customerList 
										tr 
											td=customer.CMND
											td=customer.MSKH
									
											td.text-center
												btn.btn-edit.btn.btn-primary.btn-xs(style="margin-right: 5px;", data-cmnd=customer.CMND, data-mskh=customer.MSKH) 
													i.fas.fa-edit
												btn.btn-delete.btn.btn-danger.btn-xs(data-cmnd=customer.CMND)
													i.fas.fa-trash 
							#editCustomerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editCustomerModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Chỉnh sửa
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/customer/edit", method="post")
													.modal-body
														input.form-control(type='hidden' name='cmnd')
														.form-group
															label Mã số khách hàng
															input.form-control(type='text' placeholder='MSKH' name='mskh')
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit') Cập nhật
						
							#deleteCustomerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteCustomerModal' aria-hidden='true')
								.modal-dialog(role='document')
									.modal-content.bg-danger
										.modal-header
											h5.modal-title Xóa
											button.close(type='button' data-dismiss='modal' aria-label='Close')
												span(aria-hidden='true') &times;
										form(action="/customer/delete", method="post")
											.modal-body
												input(type="hidden", name="cmnd")
												p Bạn có chắc chắn muốn xóa khách hàng này không?
											.modal-footer
												button.btn.btn-outline-light(type='button' data-dismiss='modal') Đóng lại
												button.btn.btn-outline-light(type='submit') Xác nhận

block script
	script(src="/plugins/select2/js/select2.full.min.js")
	script(src="/js/customer/index.js") 
block style 
	link(rel="stylesheet", href="/plugins/select2/css/select2.min.css")
	link(rel="stylesheet", href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")